/*#EC866E This is the coral color*/
/*#3EE9EA This is the light blue color*/


.header{
  background-color: black;
  width: 100%;
  height: 11vh;
  opacity: .7;
  z-index: 2;
  position: fixed;
}

.header-text{
height: 8vh;
width: 40vw;
margin-left: 2.5vw;
z-index: 2;
font-family: myriad pro;
position: fixed;

}
/****NAV BAR****/
.nav1{
  height: 8vh;
  width: 10vw;
  margin-left: 70vw;
  margin-top: 1.1vh;
  position: absolute;
  z-index: 2;
  position: fixed;
  border-right: thick solid #EC866E;
}

.nav2{
  height: 8vh;
  width: 17vw;
  margin-left: 81vw;
  margin-top: 1vh;
  position: absolute;
  z-index: 2;
  position: fixed;
}

#style-nav1{
  list-style-type: none;
  color: #3EE9EA;
  position: absolute;
  font-size: 2.1em;
  font-family: myriad pro;
  margin-left: -.5vw;
  letter-spacing: .7px;
}
#style-nav2{
  list-style-type: none;
  color: #3EE9EA;
  position: absolute;
  font-size: 2.1em;
  margin-left: ovw;
  font-family: myriad pro;
  margin-top: 2.25vh;
}

#style-nav2:hover{
  color: #EC866E;
}

#style-nav1:hover{
  color: #EC866E;
}



/*****END NAV BAR*****/
.iDive-position{
  height:10vh;
  width: 8vw;
  position: absolute;
  z-index: 2;
  margin-left: 2vw;
}

#idive-header{
  font-size: 3em;
  color: #3EE9EA;
  /*border: 1px solid yellow;*/
  margin: 2.5vh 1vw auto;
  z-index: 0;
  font-family: myriad pro;
  position: fixed;
  letter-spacing: 1px;

}

#idive-header-slogan{
  font-size: 1.3em;
  color: #3EE9EA;
  margin: 2.5vw 8.9vw auto;
  position: absolute;
  font-family: sans-serif;
  font-weight: 300;
  letter-spacing: .7px;

}
#mainpic{
  height: 100vh;
  width:100%;
  margin: auto;
  position: relative;
}
#mainpic-2{
  height: 106vh;
  width:100%;
  margin: -3vh auto;
  position: relative;
}
.footer{
 background-color: black;
 width: 100%;
 height: 9vh;
 margin-top: 0vh;
 position: absolute;

}
.button-box{
  height: 9vh;
  width: 20vw;
  position: absolute;
  margin-left: 107vh;
  margin-top: -24vh;
  z-index: 1;
}
.button-style{
  height: 7vh;
  width: 16vw;
  background-color: #EF9E8B;
  color:#3EE9EA;
  font-size: 2.1em;
  font-weight: bold;
  font-family: myriad-pro;
  border-radius: 10px;
  z-index: 2;
}

.button-style:hover{
  color: #EF9E8B ;
  background-color: #3EE9EA;
}


.main-logo-location{
  height: 30vh;
  width: 60vw;
  position: absolute;
  margin-left: 35vh;
  margin-top: -105vh;
}

.main-logo{
  color: #3EE9EA;
  font-size: 16em;
  text-align: center;
  margin-bottom: 10vh;
  font-family: myriad pro;
}

.slogan-location{
  height: 10vh;
  width: 10vw;
  margin-top: -54.9vh;
  margin-left: 39vw;
  position: absolute;
  text-align: center;
}
.slogan-location1{
  height: 8vh;
  width: 8vw;
  margin-top: -54vh;
  margin-left: 50.2vw;
  position: absolute;
  text-align: center;
  border-left:thick solid #EC866E;
}
.slogan{
  color: #fff;
  font-size: 1.6em;
  font-weight: 200;
  font-family: sans-serif;
  letter-spacing: .7px;
}

#slogan1{
  color: #EC866E;
  font-size: 1.8em;
  font-weight: 200;
  margin-left: -.5vw;
  margin-top: 2.2vh;
  font-family: sans-serif;
  letter-spacing: .7px;
}

.find-your-site-background-location{
  height: 10vh;
  width: 20vw;
  margin-top: -35vh;
  margin-left: 24.85vw;
  position: absolute;
  background-color: black;
  opacity: .8;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  z-index: 1;
}
.find-your-site-background-location2{
  height: 10vh;
  width: 20vw;
  position: absolute;
  margin-left: 25vw;
  margin-top: -35vh;
  z-index: 3;
}

.find-your-site-style{
  width: 20vw;
  margin-top: 3.5vh;
  margin-left: 2.4vw;
  color: #fff;
  font-family: myriad pro;
  font-size: 1.6em;
  position: absolute;
  z-index: 2;
  letter-spacing: 1px;
}
.text-box-location {
  height: 9vh;
  width: 50vw;
  position: absolute;
  margin-left: 46vh;
  margin-top: -25vh;
  background-color: black;
  opacity: .8;
  z-index: 1;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.text{
  height: 5vh;
  width: 30vw;
  font-size: 20px;
  font-style: oblique;
  font-family: myriad pro;
  margin-top: 1.5vh;
  margin-left: 1.3vw;
  background-color: #dbdbdb;
}
.text-input-location{
  height: 9vh;
  width: 33vw;
  position: absolute;
  margin-top: -25vh;
  margin-left: 25vw;
  z-index: 1;
}
.copyWloc{
  margin-top: 1vh;
  height:7vh;
  width: 30vw;
  display: absolute;
  margin-left: 40vw;
  border: 1px solid black;
}
#copywrite{
  color: #fff;
  font-family: myriad pro;
  color: #3EE9EA;
  font-size: 1em;
}




/******* PAGE 2 *******/

.textColumnLeft{
  height: 86vh;
  width: 37vw;
  position: absolute;
  z-index: 1;
  margin-top: -88vh;
  margin-left: 3vw;
  background-color: black;
  /*border: 1px solid green;*/
  opacity: .5;
}
.textColumnLeft1HeaderPosition{
  width: 37vw;
  height: 10vh;
  position: absolute;
  z-index: 1;
  /*border: 1px solid white;*/
  margin-top: -88vh;
  margin-left: 3vw;
}
#textColumnLeft1Text{
  color: #3EE9EA;
  text-align: center;
  font-family: myriad pro;
  font-size: 2.7em;
  margin: 2vh auto;
  letter-spacing: .5px;
  background-color: transparent;



}

/*//this is the select class*/
.textColumnLeft1{
  height: 86vh;
  width: 37vw;
  position: absolute;
  z-index: 1;
  margin-top: -88vh;
  margin-left: 3vw;
  background-color: transparent;
  overflow-y: scroll;
  /*border: 1px solid yellow;*/
}

.textColumnLeftInputLocation{
  height: 76vh;
  width: 37vw;
  position: absolute;
  z-index: 1;
  /*border: 1px solid blue;*/
  margin-top: -78vh;
  margin-left: 3vw;
  overflow-y: scroll;
}


.map-position{
  height:55vh;
  width:50vw;
  position: absolute;
  z-index: 1;
  margin-top: -88vh;
  margin-left: 45vw;
  background-color: black;
  opacity: .8;
  /*border: 1px solid red;*/
}

.middle{
  background-color: black;
  border: 1px solid black;
  width: 100%;
  height: 5vh;
  margin-top: -5vh;
  position: absolute;
  z-index: 1;
  opacity: .87;
}
#sites{
  color: #fff;
  font-family: myriad pro;
  font-size: 2em;
  text-align: center;
  z-index: 1;
  color: #3EE9EA;
  font-style: italic;
  letter-spacing: 1px;

}
option{
  color: #fff;
  font-family: myriad pro;
  z-index: 1;
  text-align: center;
}


.circle{
  border: 1px solid #EC866E;
  height: 4.7vh;
  width: 2.6vw;
  position: absolute;
  z-index: 2;
  margin-left: 30.9vw;
  margin-top: 22.7vh;
  border-radius: 50%;
  background-color: #EC866E;
}

.circle2{
  border: 2px solid #EC866E;
  height: .5vh;
  width: .3vw;
  position: fixed;
  z-index: 2;
  margin-left: 3.1vw;
  margin-top: 3.4vh;
  border-radius: 50%;
  background-color: #EC866E;
}

.circle3{
  border: 2px solid #EC866E;
  height: .3vh;
  width: .2vw;
  position: absolute;
  z-index: 1;
  margin-left: 14.25vw;
  margin-top: -85.5vh;
  border-radius: 50%;
  background-color: #EC866E;
}

.siteIDPosition{
 /*border: 1px solid white;*/
 height: 5vh;
 width: 25vw;
 margin-top: 1.5vh;
 position: absolute;
 z-index: 1;
 margin-left: 45vw;
 margin-top: -29vh;
}

.text1{
  color: #fff;
  font-family: myriad pro;
  letter-spacing: .9px;
  margin-top: .3vh;
  margin-left: .5vw;
}

.color1{
  color: #fff;
}

.color2{
  color:#3EE9EA;
}
.input2Position{
  height: 5vh;
  width: 10.5vw;
  /*border: 1px solid yellow;*/
  position: absolute;
  z-index: 1;
  margin-left: 69.8vw;
  margin-top: -29.5vh;
}

#idive1{
  height:4vh;
  width: 10vw;
}
.button2Loc{
  height: 5vh;
  width: 10.5vw;
  /*border: 1px solid green;*/
  position: absolute;
  z-index: 1;
  margin-left: 81vw;
  margin-top: -30vh;
}

#button2{
  height:5vh;
  width: 10vw;
  margin-left: .5vw;
  margin-top: .5vh;
  font-family: myriad pro;
  letter-spacing: .7px;
  font-size: 1.3em;
  font-weight: bolder;
  color: #EF9E8B;
  background-color: #3EE9EA;
}

#button2:hover{
  background-color: #EF9E8B;
  color:#3EE9EA;
}

.text-column-bottom-right{
  height:29vh;
  width:50vw;
  z-index: 1;
  position: absolute;
  margin-top: -31vh;
  margin-left: 45vw;
  background-color: black;
  opacity: .5;
  /*border: 1px solid red;*/
}
.extraInfo{
  height: 21vh;
  width: 50vw;
  /*border: 1px solid green;*/
  position: absolute;
  z-index: 1;
  margin-left: 45vw;
  margin-top: -23vh;
  background-color: transparent;
  overflow-x: scroll;
  overflow-y: scroll;
}
h4{
  font-family: myriad pro;
  color: #3EE9EA;
  margin-left: 1vw;
  font-size: 1.5em;
}
h5{
  color: #EC866E ;
  font-family: myriad pro;
  margin-left: 1.8vw;
  font-size: 1em;
}

h2{
  font-family: myriad pro;
  color: #3EE9EA;
  margin-left: 1vw;
  font-size: 1.5em;
}
p{
  color: white;
  font-family: myriad pro;
  margin-left: 1.8vw;
}

b{
  color: #EC866E;
  font-family: myriad pro;
  margin-left: 1.8vw;
}
