/*#EC866E This is the coral color*/
/*#3EE9EA This is the light blue color*/



  h3 !important{
    font-family: 'Montserrat', sans-serif;
    color: red;
    margin-left: 1vw;
    font-size: 1.5em;
  }
  p{
    color: white;
    font-family: 'Montserrat', sans-serif;
    margin-left: 1.8vw;
  }

  b{
    color: #EC866E;
    font-family: 'Montserrat', sans-serif;
    margin-left: 1.8vw;
  }

  #main_image {
  background: url(images/main.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }
  #image_two{
    background: url(images/diver.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  #idive-header{
    color: #3EE9EA;
    font-family: 'Montserrat', sans-serif;
  }

  .navbar{
    background-color: black;
  }
  .icon-bar{
    background-color: #EC866E ;
  }


  #style-nav1{
    list-style-type: none;
    color: #3EE9EA;
    font-family: 'Montserrat', sans-serif;

  }
  #style-nav2{
    list-style-type: none;
    color: #3EE9EA;
    font-family: 'Montserrat', sans-serif;
  }

  #style-nav2:hover{
    color: #EC866E;
  }

  #style-nav1:hover{
    color: #EC866E;
  }

/*MAIN PAGE */

  .main-logo{
    color: #3EE9EA;
    font-family: 'Montserrat', sans-serif;
  }
  .slogan{
    color: #fff;
    font-weight: 200;
    font-family: sans-serif;
  }
  .slogan1{
    color: #EC866E;
    font-weight: 200;
    font-family: sans-serif;
  }
  .find-your-site-background-location{
    background-color: black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .find-your-site-style{
    color: #fff;
  }
  .button-style{
    background-color: #EF9E8B;
    color:#fff;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;

  }
  .button-style:hover{
    color: #fff;
    background-color: #3EE9EA;
  }


/*END MAIN PAGE */
/*SECOND PAGE */
.middle{
  background-color: black;
  border: 1px solid black;
  width: 100%;
}
/*END SECOND PAGE */


  /*.iDive-position{
    height:10vh;
    width: 8vw;
    position: absolute;
    z-index: 2;
    margin-left: 2vw;
  }




  .footer{
   background-color: black;
   width: 100%;
   height: 9vh;
   margin-top: 0vh;
   position: absolute;

  }
  .button-box{
    height: 9vh;
    width: 20vw;
    position: absolute;
    margin-left: 107vh;
    margin-top: -24vh;
    z-index: 1;
  }




  .slogan-location{
    height: 10vh;
    width: 10vw;
    margin-top: -54.9vh;
    margin-left: 39vw;
    position: absolute;
    text-align: center;
  }
  .slogan-location1{
    height: 8vh;
    width: 8vw;
    margin-top: -54vh;
    margin-left: 50.2vw;
    position: absolute;
    text-align: center;
    border-left:thick solid #EC866E;
  }

  }*/






  /******* PAGE 2 *******/
  .textColumnLeft1Text{
    color: #3EE9EA;
    font-family: 'Montserrat', sans-serif;
  }
  .textColumnLeft1{
    overflow-y: scroll;
  }
  .textColumnLeftInputLocation{
    z-index: 1;
    overflow-y: scroll;
  }





/*
  #sites{
    color: #fff;
    font-family: myriad pro;
    font-size: 2em;
    text-align: center;
    z-index: 1;
    color: #3EE9EA;
    font-style: italic;
    letter-spacing: 1px;

  }
  option{
    color: #fff;
    font-family: myriad pro;
    z-index: 1;
    text-align: center;
  }




  /*.siteIDPosition{
   height: 5vh;
   width: 25vw;
   margin-top: 1.5vh;
   position: absolute;
   z-index: 1;
   margin-left: 45vw;
   margin-top: -29vh;
  }

  .text1{
    color: #fff;
    font-family: myriad pro;
    letter-spacing: .9px;
    margin-top: .3vh;
    margin-left: .5vw;
  }

  .color1{
    color: #fff;
  }

  .color2{
    color:#3EE9EA;
  }
  .input2Position{
    height: 5vh;
    width: 10.5vw;
    position: absolute;
    z-index: 1;
    margin-left: 69.8vw;
    margin-top: -29.5vh;
  }

  #idive1{
    height:4vh;
    width: 10vw;
  }
  .button2Loc{
    height: 5vh;
    width: 10.5vw;
    position: absolute;
    z-index: 1;
    margin-left: 81vw;
    margin-top: -30vh;
  }

  #button2{
    height:5vh;
    width: 10vw;
    margin-left: .5vw;
    margin-top: .5vh;
    font-family: myriad pro;
    letter-spacing: .7px;
    font-size: 1.3em;
    font-weight: bolder;
    color: #EF9E8B;
    background-color: #3EE9EA;
  }

  #button2:hover{
    background-color: #EF9E8B;
    color:#3EE9EA;
  }

  .text-column-bottom-right{
    height:29vh;
    width:50vw;
    z-index: 1;
    position: absolute;
    margin-top: -31vh;
    margin-left: 45vw;
    background-color: black;
    opacity: .5;
  }
  .extraInfo{
    height: 21vh;
    width: 50vw;
    position: absolute;
    z-index: 1;
    margin-left: 45vw;
    margin-top: -23vh;
    background-color: transparent;
    overflow-x: scroll;
    overflow-y: scroll;
  }*/




  @media only screen and (min-width: 320px) and (max-width: 375px) {
    .mobile-border{
      border-bottom: 1px solid #EC866E;
      border-top: 1px solid #EC866E;
    }
    .icon-bar{
      margin-top: 30%;
    }
    .mobile_location{
      text-align: right;
    }
    #idive-header{
      margin-left: 10%;
    }
    #main_image{
      height: 100vh;
    }
    #image_two{
      height: 120vh;
    }
    .main-logo{
      margin-top: 70%;
      font-size: 4em;
    }
    .slogan{
      font-size: 1.2em;
      letter-spacing: .5px;
    }

    .main-hr{
      border: 1px solid #EC866E;
      width: 30%;
    }
    .find-your-site-background-location{
      margin-top: 60%;
      padding-top: 5%;
      padding-bottom: 5%;
    }
    .find-your-site-style{
      color: #fff;
      font-size: 1.3em;
      text-align: center;
    }
    .text-input{
      text-align: center;
    }

    .button-style{
      font-size: 1.2em;
      letter-spacing: .5px;

    }
    .middle{
      height: 3vh;
      margin-top: -3vh;
      z-index: 1;
      opacity: .87;
    }
    .textColumnLeft{
      height: 45vh;
      width: 100%;
    }
    .textColumnLeft1Text{
      letter-spacing: .5px;
      text-align: center;
      font-size: 2em;
    }
    .textColumnLeft1{
      border: 1px solid #EC866E;
      height: 45vh;
      width: 100%;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;
    }
    #map{
      margin-top: 5%;
      height: 60vh;
      width: 100%;
    }
    .button-style{
      margin-top: 5%;
    }
    .copyrite{
      font-family: 'Montserrat', sans-serif;
      font-size: 1em;
      text-align: center;
      color: #3EE9EA;
    }
    .footer{
      background-color: black;
      padding-top: 2%;
      padding-bottom: 2%;

    }
}
